@import 'config';


body{
    color: white;
}


.container{
    background-color: $secondary-color;
    display: flex;
    border: 5px solid blue;
    justify-content: flex-start;
 
}

.search{
    background-color: chartreuse;
    //margin-left: auto;
    flex: 2;
}

.home{
    background-color: blue;;
}

.logout{
    align-self: flex-start;
}